.main{
    display: flex;
}
.tools{
    background-color:aquamarine;
}
.card img{
    height: 200px;
    width: 200px;
}

.cardslist{
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-gap:14px;
    max-width: 600px;
    margin: 40px auto;

}
.cardslist .card{
    background: #fff;
    color: #333;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.05);
    transition: all 0.3s ease;
    position: relative;
    border: 5px solid gray;
}

.cardslist :hover{
box-shadow: wheat;
}