.main-header{
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main{
    display: flex;
    align-items: center;
}
.logo img{
    
    width: 56px;
    height: 58px;
    /* left: 5px;
    top: 4px; */
}
.profile-section{
    display: flex;
    align-items: center;
}
.profile{
    height: 40px;
    width: 50px;
}

